/*Universal Style*/
*{
    font-family: 'Lato', sans-serif;
}
.common-btn{
    border: 0;
    color: #FFF;
    padding: 10px 30px;
    gap: 10px;
    border-radius: 5px;
    background: #E55473;
}

/*Banner Styles*/

.bannar{
    background-color:#E554731A;
    /*background-image: url('../Images/pngwing\ 10.png');*/
    padding: 50px 130px 0 230px;
    max-height: 800px;
    display: flex;
    justify-content: space-between;
    
}
.bannar-heading{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-top: 240px;
}
#bannar-btn{
    margin-top: 10px;
    
}
/*deals section*/
.Deal{
    background-color: #f9e0e0;
    display: flex;
    justify-content: space-evenly;
    padding: 60px 300px;
    max-height: 400px;
    margin-top: 10px;
}
.deals-para{
    color: #27272799;
}
.hot-deals{
    text-align: center;

}

#off{
    color: #E55473;
}
.deals-header{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-top: 170px;
}

/*Social media section Styles*/

.social-media{
    text-align: center; 
}
#social-media-para{
    color: #27272799;
}
.div-social-media{
    margin-top: 100px;
}
.image{
    height: 310px;
}
section > ul{
    list-style: none;
    display: flex;
    justify-items: center;
    margin-top: 50px;
    padding: 0 200px;
    
}
section li{
    margin-right: 10px;
}
/*Section 3 Styles*/
.latest-deal{
    background-image: url('../Images/Rectangle\ 9.png');
    margin: 0 200px;
    min-height: 300px;
    border-radius: 5px;
}
.div-latest-deal{
    text-align: center;
    padding-top: 50px;
}
.lt-deal-header{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}
.lt-deal-para{
    font-size: 14px;
    color: #27272799;
    margin-bottom: 50px;
}
#input{
    width: 450px;
    height: 32px;
    font-size: 14px;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    margin-right: 10px;
}