/*Universal Style*/
*{
    font-family: 'Lato', sans-serif;
}
.common-btn{
    border: 0;
    color: #FFF;
    padding: 10px 30px;
    gap: 10px;
    border-radius: 5px;
    background: #E55473;
}

/*Banner Styles*/

.bannar{
    background-color:#E554731A;
    /*background-image: url('../Images/pngwing\ 10.png');*/
    padding: 50px 130px 0 230px;
    max-height: 800px;
    display: flex;
    justify-content: space-between;
    
}
.bannar-heading{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-top: 240px;
}
#bannar-btn{
    margin-top: 10px;
    
}

/*feature flower style"*/
.fearture-flower{
    text-align: center;
    margin: 110px 200px 0;
}
.feature-head{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.feature-para{
    color:#27272799;
    font-size: 14px;
    font-weight: 400;
}
.feature-pic > ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 50px 200px 0;
}
.feature-pic li{
    border-radius: 200px 200px 0 0;
    background-color: #A7216226;
    min-width: 320px;
    padding-top: 70px;

}
.picturs-title> ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0 200px 0;
    margin-bottom: 100px;
}
.picturs-title li{
    text-decoration: underline;
    color: #272727;
}
.images{
    padding-left: 50px;
    max-height: 280px;
    min-width: 180px;
}

/*deals section*/
.Deal{
    background-color: #f9e0e0;
    display: flex;
    justify-content: space-evenly;
    padding: 60px 300px;
    max-height: 400px;
    margin-top: 10px;
}
.deals-para{
    color: #27272799;
}
.hot-deals{
    text-align: center;

}

#off{
    color: #E55473;
}
.deals-header{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-top: 170px;
}

/*Social media section Styles*/

.social-media{
    text-align: center; 
}
#social-media-para{
    color: #27272799;
}
.div-social-media{
    margin-top: 100px;
}
.image{
    height: 310px;
}
.social-media > ul{
    list-style: none;
    display: flex;
    justify-items: center;
    margin-top: 50px;
    padding: 0 200px;
    
}
.social-media li{
    margin-right: 10px;
}
/*Section 3 Styles*/
.latest-deal{
    background-image: url('../Images/Rectangle\ 9.png');
    margin: 110px 200px;
    min-height: 300px;
    border-radius: 5px;
}
.div-latest-deal{
    text-align: center;
    padding-top: 50px;
}
.lt-deal-header{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}
.lt-deal-para{
    font-size: 14px;
    color: #27272799;
    margin-bottom: 50px;
}
#input{
    width: 450px;
    height: 32px;
    font-size: 14px;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    margin-right: 10px;
}

/*Feedback section Styles*/
.feedback-section{
    margin: 0 200px;
    background-color: #f9e0e0;
    border-radius: 5px;
}
.feedback-section > ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.fb-input{
    width: 350px;
    height: 35px;
    border-radius: 5px;
    border: 0;
}
.fb-header{
    text-align: center;
    color: #E55473;
    padding: 20px 0 0;
}
#textarea{
    display: block;
    width: 97%;
    border-radius: 5px;
    border: 0;
    margin: 10px;
    padding: 10px;
    color: #E55473;
}
#Last-btn{
    margin: 10px;
}

/*Footer Section Styles*/

.footer-section{
    background: #111010;;
    text-align: center;
}

.Footer-head{
    padding-top: 60px;
    color: #E55473;
    font-size: 30px;
    font-weight: 800;
    
}
#shop{
    color: #FFFFFF;
}
.footer-para{
    color:#FFFFFFE5;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 10px;
}
.copyright{
    color: #FFFFFF66;
    font-size: 10px;
    font-weight: 400;
    padding-bottom: 60px;
}
